.projects {
  margin: 5rem 0;

  & h2 {
    font-size: 36px;
    color: var(--on-surface);
    text-align: center;
    margin-bottom: 3rem;

    &::after {
      content: "";
      display: block;
      position: absolute;
      right: 46.85%;
      width: 6%;
      height: 0.3rem;
      border-radius: 2rem;
      margin-top: 0.5rem;
      background-image: linear-gradient(90deg, #9b87f5 10%, #a40ee4 92.32%);
    }
  }

  & .btn-github {
    max-width: 308px;
    display: flex;
    justify-content: center;
    margin: 36px auto 0;
    padding: 16px 32px;
    border-radius: 16px;
    font-size: 14px;

    &:hover {
      scale: 1.03;
    }
  }

  & .projects-container {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;

    & span.btn-github {
      flex-wrap: wrap;
    }

    & .card-project {
      width: 500px;
      height: auto;
      display: flex;
      flex-direction: column;
      background-color: var(--surface-container);
      /* border: 1px solid rgba(34, 45, 68, 0.9); */
      box-shadow: 0px 0px 16px #0000002f;
      border-radius: 8px;
      transition: all 350ms ease-in-out;

      & img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 8px 8px 0 0;
        overflow: hidden;
      }

      & .content-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 286px;
        flex-grow: 1;
        gap: 1rem;
        padding: 1rem;

        & .proj-texts {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          & h3 {
            font-size: 20px;
            line-height: 20px;
            transition: all 200ms ease-in-out;
            /* margin-bottom: 8px; */
          }

          & p {
            color: var(--on-surface-variant);
          }

          & .stacks {
            display: flex;
            gap: 8px;

            & span {
              padding: 6px 8px;
              /* margin-top: 1rem; */
              font-size: 12px;
              /* background-color: #27334ea8; */
              background-color: #9b87f55d;
              color: var(--on-surface-variant);
              border-radius: 24px;
            }
          }
        }

        & .proj-links {
          display: flex;
          justify-content: space-between;
          gap: 1rem;

          .btn {
            justify-content: center;
            width: 100%;
            padding: 8px 16px;
            border-radius: 12px;
            font-size: 14px;
            gap: 16px;
            transition: ease-in-out 250ms;

            &:active {
              transform: translateY(2px) scale(0.96);
            }

            &:hover {
              scale: 1.05;
            }
          }

          & .btn_outlined {
            color: var(--accent);

            &:hover {
              color: var(--on-accent);
            }
          }

          & .btn_filled {
            color: var(--on-accent);

            &:hover {
              color: var(--accent);
            }
          }
        }
      }

      &:hover .proj-texts > h3 {
        color: var(--accent);
      }
    }

    /* & .btn {
      padding: 16px 32px;
      border-radius: 16px;
      font-size: 14px;

      &:hover {
        scale: 1.03;
      }
    } */
  }
}

@media screen and (max-width: 980px) {
  .projects {
    margin: 4rem 0;

    & h2 {
      &::after {
        right: 44.5%;
        width: 11%;
      }
    }

    & .projects-container {
      padding: 0 16px;
      gap: 1.5rem;

      & .card-project {
        /* width: 500px; */
        height: 462px;
        /* flex: 0 0 calc(50% - 1.5rem); */
        max-width: calc(50% - 1.5rem);

        & img {
          height: 200px;
        }

        & .content-card {
          height: 200px;
          gap: 8px;
          padding: 12px;

          & .proj-texts {
            display: flex;
            flex-direction: column;
            gap: 10px;

            & h3 {
              font-size: 18px;
              line-height: 18px;
            }

            & p {
              font-size: 14px;
            }

            & .stacks {
              & span {
                padding: 4px 6px;
                font-size: 12px;
              }
            }
          }

          & .proj-links {
            & .btn {
              padding: 8px 16px;
              border-radius: 12px;
              gap: 12px;

              & svg {
                height: 20px;
                width: 20px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .projects {
    margin: 3rem 0 4rem;

    & h2 {
      font-size: 32px;
      line-height: 32px;

      &::after {
        width: 15%;
        right: 42.5%;
      }
    }

    & .projects-container {
      padding: 0 1rem;
      gap: 2rem;

      & .card-project {
        max-width: 100%;
        height: 450px;

        & .content-card {
          padding: 10px;

          & .proj-texts {
            gap: 8px;

            & h3 {
              line-height: 18px;
            }
          }

          & .proj-links {
            gap: 12px;

            & .btn {
              & svg {
                height: 18px;
                width: 18px;
              }
            }
          }
        }
      }
    }
  }
}
